

<section class="live-jobs-area-two pb-70">
    <div class="container">
        <div class="section-title green-title">
            <span>İlanlara Göz At</span>
            <h2>Kategoriler</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="live-job-single-box">
                    <ul>
                        <li>
                            <a href="job-listing.html">
                                Accounting/Finance
                                <span>(25)</span>
                            </a>
                        </li>
                        <li>
                            <a href="job-listing.html">
                                Engineer/Architects
                                <span>(15)</span>
                            </a>
                        </li>
                        <li>
                            <a href="job-listing.html">
                                Bank/Institution
                                <span>(14)</span>
                            </a>
                        </li>
                        <li>
                            <a href="job-listing.html">
                                Commercial/Supply Chain
                                <span>(55)</span>
                            </a>
                        </li>
                        <li>
                            <a href="job-listing.html">
                                Design/Creative
                                <span>(99)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="live-job-single-box">
                    <ul>
                        <li>
                            <a href="job-listing.html">
                                IT & Telecommunication
                                <span>(85)</span>
                            </a>
                        </li>
                        <li>
                            <a href="job-listing.html">
                                Garments/Textile
                                <span>(35)</span>
                            </a>
                        </li>
                        <li>
                            <a href="job-listing.html">
                                Medical/Pharma
                                <span>(19)</span>
                            </a>
                        </li>
                        <li>
                            <a href="job-listing.html">
                                Marketing/Sales
                                <span>(165)</span>
                            </a>
                        </li>
                        <li>
                            <a href="job-listing.html">
                                Education/Training
                                <span>(42)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="live-job-single-box">
                    <ul>
                        <li>
                            <a href="job-listing.html">
                                Research/Consultancy
                                <span>(05)</span>
                            </a>
                        </li>
                        <li>
                            <a href="job-listing.html">
                                NGO/Development
                                <span>(25)</span>
                            </a>
                        </li>
                        <li>
                            <a href="job-listing.html">
                                HR/Org. Development
                                <span>(10)</span>
                            </a>
                        </li>
                        <li>
                            <a href="job-listing.html">
                                Bank/Tourism
                                <span>(33)</span>
                            </a>
                        </li>
                        <li>
                            <a href="job-listing.html">
                                Law/Legal
                                <span>(09)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>